<html>
<head>
<title>Alumno</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
	<body>
	<div class="container"><h2>Registro de Alumno</h2></div>
	<div class="container-sm p-3 my-3 ">
	    <form action="/alumnos" method="get"  >
	    <label for="matricula"> Matricula:</label><br>
		  <input type="number" class="form-control" placeholder="numero de matricula" id="matricula" name="matricula"><br>
		  <label for="nombre"> Nombre:</label><br>
		  <input type="text" class="form-control" placeholder="nombre completo" id="nombre" name="nombre"><br>
		  <label for="carrera">Carrera:</label><br>
		  <input type="text" class="form-control" placeholder="carrera" id="carrera" name="carrera"><br><br>
		  <input type="submit" class="btn btn-success" value="Enviar">
		</form>
         <input type="submit" class="btn btn-primary" value="Recuperar">
      </div>
	</body>
</html>