<!doctype html>
<html>
<head>
<title>Alumno</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
	<body>

<script>
//pedir informacion de un alumno con su matricula
function recuperaAlumno(){
	var matricula=document.getElementById('matricula').value;
	$(document).ready(function(){
		console.log("hola" + matricula);
		$.get("http://localhost:8080/alumnos/"+matricula, cargaAlumno);
		function cargaAlumno(alumno){
		     console.log("Encontré lista con elementos  "+ alumno);
		     $("#contenido").append("El alumno buscado con la matricula es: "+alumno.nombre+"  "+ alumno.carrera);  
		}
	 });
}

//para ingresar informacion 
 function crearAlumno() {
	 $.ajaxSetup({contentType:"aplication/json; charset=utf-8"});
	$.ajax({
		method:"POST",
		url:"http://localhost:8080/alumnos/",
		data: JSON.stringify({matricula: $('#matricula').val(), nombre: $('#nombre').val(), carrera:$('#carrera').val()}),
		contentType:"APPLICATION/JSON"
	});
	
	}

	function borraAlumno(){
		$.ajax({
			method:"DELETE",
			url:"http://localhost:8080/alumnos/"+$('#matricula').val()
			
		});
	}
	
	function actualizarAlumno(){
		$.ajax({
			method:"PUT",
			url:"http://localhost:8080/alumnos/"+$('#matricula').val(),
			data: JSON.stringify({matricula: $('#matricula').val(), nombre: $('#nombre').val(), carrera:$('#carrera').val()}),
			contentType:"APPLICATION/JSON"
		});
	}
</script>
	<div class="container"><h2>Registro de Alumno</h2></div>
	<div class="container-sm p-3 my-3 ">
	     <form id="formulario">
	    <label for="matricula"> Matricula:</label><br>
		  <input type="number" class="form-control" placeholder="numero de matricula" id="matricula" ><br>
		  <label for="nombre"> Nombre:</label><br>
		  <input type="text" class="form-control" placeholder="nombre completo"id="nombre" ><br>
		  <label for="carrera">Carrera:</label><br>
		  <input type="text" class="form-control" placeholder="carrera" id="carrera" ><br><br>
		  </form>
		  <button class="btn btn-success" type="submit" id="Btn" onclick="crearAlumno() ">Enviar</button>
		<button class="btn btn-primary" type="submit" id="myBtn" onclick="recuperaAlumno() ">Recuperar</button>
		<button class="btn btn-success" type="submit" id="Btn" onclick="actualizarAlumno() ">Editar</button>
		<button class="btn btn-primary" type="submit" id="borrar" onclick="borraAlumno() ">Eliminar</button>
		
      </div>
      <div  class="container-sm p-3 my-3" > 
      <div id="contenido" > </div>
      </div>
	</body>
</html>